.Board {
    height: 35rem;
    width: 35rem;

    border: 1rem solid #0A090C;
    border-radius: 1rem;

    background-color: #F0EDEE;
    display: grid;
    grid: repeat(8, 1fr) / repeat(8, 1fr);
}
/* dark squares */
.dark{
    background-color: #90DDF0;
}

/* piece present */
.has-p:hover{
    cursor: pointer;
}

.piece-img {
    width: 85%;
    height: 85%;
}

.has-p > div > .piece-img:hover{
    border: 1px solid #07393C;
}

.av-move{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-color: black;
}
