.Board {
    height: 35rem;
    width: 35rem;

    border: 1rem solid #0A090C;
    border-radius: 1rem;

    background-color: #F0EDEE;
    display: grid;
    grid: repeat(8, 1fr) / repeat(8, 1fr);
}

.dark{
    background-color: #90DDF0;
}

.piece-img {
    width: 85%;
    height: 85%;
}

.av-move{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-color: black;
}
