.Board {
    margin: 2rem;

    height: 35rem;
    width: 35rem;

    border: 1rem solid #0A090C;
    border-radius: 1rem;

    background-color: #07393C;
    display: grid;
    grid: repeat(8, 1fr) / repeat(8, 1fr);
}

.square{
    background-color: #90DDF0;
}